@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background: url('../images/background.png') center/cover;
}

.container {
    width: 50%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form .logo {
    text-align: center;
    padding-bottom: 10px;
}

#form .form-group {
    padding: 5px;
}

#form .form-group label {
    color: rgb(2, 0, 136)
}

#form .form-group input, #form .form-group textarea, #form .form-group select, #form .form-group button {
    padding: 10px;
    width: 100%;
    outline: none;
    margin: 5px 0;
    border: none;
    background-color: #fff;
    color: #000;
}

#form .form-group button {
    background-color: rgb(0, 153, 255);
    color: #fff;
    font-weight: 700;
}

#form .form-group button:hover {
    background-color: rgb(0, 114, 190)
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.modal-true, .modal-false {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, .4);
}

  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content p {
    padding: 5px 0;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}